logs
*.log
npm-debug.log*
node_modules/
coverage
build/
.vscode
!.vscode/tasks.js
.idea/
.npm
.eslintcache
.DS_Store
.env.*
!env.sample
data/*
!data/attributes.sample.csv
!data/link.sample.csv
!data/unlink.sample.csv
temp/*
!temp/
